*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{
     background-image: url('../css/images/pexels-magda-ehlers-985266.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;

     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 0.9em;

}

h1{
     color: aqua;
     font-size: 60px;
     text-align: center;
     border-style: double;
     border-color: #0324fa;
     margin-top: -25%;
     margin-left: 40%;
     
}

nav{
     background-color: rgb(45, 146, 160);
     width: 100%;
     position: absolute;
     margin-top: -70px;
     border-bottom: 4px solid;
     rgba(255,2,102,0.7);
     opacity: 0.5;
}

.navbar{
     display: inline-block;
     
     font-size: 40px;
     color: #fff;
     text-decoration: none;
     margin-left: 5%;
     padding: 20px;
     margin-top: 1px;


}

nav ul{
     float: right;
     margin-right: 10%;
     text-decoration: solid;
}

nav ul li{
     display: inline-block;
     padding: 14;
     text-decoration: solid;
}


.card{
     position: relative;
     background-color: rgba(255,255,255,0.1);
     box-shadow: 0 5px 15px rgba(0,0, 0, 0.5);
     height: 300px;
     width: 600px;
     margin-top: 350px;
     margin-right: 20px;
     
     

}

.card:hover .gradient{
     opacity: 1;

}

.gradient{
     position: absolute;
     background-image: linear-gradient(0deg,#03fa03,transparent);
     height: 100%;
     width: 100%;
     opacity: 0%;
}

.info{
     position: absolute;
     top: 40%;
     transform: translateY(-60%);
     padding: 2rem;
     margin-top: 3rem;

}

.text{
     color: rgb(211,211,211);
}


